.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemons {
    grid-column-end: span 4;
}

.card {
    width: 268px;
    height: 388px;
    margin: 16px;
}
